@import url("__description/cards__description.css");
@import url("__title/cards__title.css");
@import url("__image/cards__image.css");
@import url("__item/cards__item.css");

.cards {
  padding: 0;
  margin: 0;
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 60px;
}
