.footer__column-link {
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
