.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 790px;
}

.feynman__title {
  align-items: center;
  text-align: center;
  margin: 100px 0 70px 0;
  width: 775px;
  z-index: 1;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  z-index: 1;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.25s ease-in-out;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}
