.table__cell {
  width: 250px;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 60px;
  z-index: 1;
}
.table__cell__theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 80px 0;
}
