.table {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  justify-content: space-around;
  margin-bottom: 60px;
  z-index: 1;
}
.table__cell__theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 80px 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading__theme_dark {
  color: #ffffff;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text__theme_dark {
  color: #ffffff;
}
